.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  background-image: linear-gradient(rgba(194, 238, 255, 0.5), rgba(194, 238, 255,0.5)), url(https://gauchospace.ucsb.edu/courses/pluginfile.php/1/theme_adaptable/p1/1639686190/Campus_Point_Waves.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#reservations {
  max-width: 350px;
  margin: 1em auto;
  background: #ffffff;
  box-shadow: 15px 15px 0 #febc11, 0 0 20px rgba(0,0,0,0.2);
}

form label {
  font-size: 20px;
  margin: 25px auto;
  display: block;
  text-align: left;
  color: #0274be;
  font-weight: bold;
  text-transform: lowercase;
}

.inputwrap {
  background-color: #0274be;
  padding: 0 0 1px 0;
  margin: 3px 0 0 0;
  transition: 0.3s;
  box-sizing: border-box;
}

.inputwrap:hover {
  /* background: linear-gradient(90deg, #0274be, #febc11); */
  background: #febc11;
}

input {
  display: block;
  width: 100%;
  padding: 5px;
  border-width: 0 0 1px 0;
  border-color: transparent;
}

input:focus {
  outline: none;
  background-color: #fff9e9;
  transition: 0.4s;
}

#reserve {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 50px;
  display: block;
  box-sizing: border-box;
}

#submitb {
  font-size: 20px;
  margin: 0 0 20px 0;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 3px;
}

input[type=submit] {
  width: 100%;
  line-height: 30px;
  background-color: #0274be;
  border: none;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: 0.2s;
}

input[type=submit]:hover {
  background-color: #febc11;
  cursor: pointer;
}

#status-message {
  box-sizing: border-box;
  padding: 0 30px 30px 30px;
  font-size: 12px;
}

#status {
  font-weight: bold;
}